DB_USER=consinco
DB_PASSWORD=consinco
DB_CONNECTION_STRING=fort-bd-orcl-01.skyone.app:1569/RDFORTPRD
ORACLE_CLIENT_PATH=/opt/oracle/instantclient

DB_POOL_MIN=2
DB_POOL_MAX=10
DB_POOL_INCREMENT=1
DB_CONNECT_TIMEOUT=10

JWT_SECRET=fort_manuais_super_secret_key_2024
JWT_EXPIRES_IN=24h

PORT=1601
NODE_ENV=production
